/*          CUSTOM COLOR THEME          */



/*další styly*/
header{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(images/header.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    max-height: 60px;
}
h1{
    font-weight: 600 !important;
}
footer{
    padding-top: 3vh;
    padding-bottom: 3vh;
}
footer p{
    margin-bottom: 0;
}